<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>修改管理员密码</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" href="{% static 'user/css/add_user.css' %}">
</head>
<body>

{#class="modal-dialog"#}

<div  role="document">
    <div class="modal-content edit" data-id="{{ ad_user.id }}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">修改管理员密码</h4>
        </div>
        <div class="modal-body col-sm-12">
            <form class="form-horizontal" id="chpwdForm">
                <div class="form-group">
                    <label for="inputNameChpw" class="col-sm-3 control-label">昵称</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputNameChpw" value="{{ ad_user.admin_name }}"
                               readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPwdChpw" class="col-sm-3 control-label">新密码</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputPwdChpw" placeholder="请输入新密码">
                        <span style="color: red;font-weight: bold;" class="alt pwd"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRePwdChpw" class="col-sm-3 control-label">确认密码</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputRePwdChpw" placeholder="请确认密码">
                        <span style="color: red;font-weight: bold;" class="alt repwd"></span>
                    </div>
                </div>


            </form>
        </div>
        <div class="modal-footer col-sm-9 no-border" style="background: white">
            <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" form="addForm" id="submit">提交</button>
        </div>
    </div>
</div>
</body>
<script>
    $('#submit').click(() => {
        // 获取数据
        var pwd = $('#inputPwdChpw').val();
        var repwd = $('#inputRePwdChpw').val();
        var admin_id = $('.edit').data('id');
        if (checkPassword(pwd, false) && checkPwdSame(pwd, repwd, false)) {
            $.ajax({
                url: '/user/edit_admin_pwd/',
                type: 'post',
                data: {
                    'password': pwd,
                    'admin_id': admin_id
                },
                success: (data) => {
                    if (data['status'] === "success") {
                        alert("修改成功, 点击确认后跳转回首页.....");
                        $.ajax({
                            url: '/user/admin_list/',
                            type: 'get',
                            success: (data) => {
                                $('.main-content').html(data)
                            }
                        })
                    }
                }
            })
        }
    });
    $('#inputPwdChpw').keyup(() => {
        var password = $("#inputPwdChpw").val();
        checkPassword(password, true);
    });
    $('#inputRePwdChpw').keyup(() => {
        var password = $("#inputPwdChpw").val();
        var repassword = $('#inputRePwdChpw').val();
        checkPwdSame(password, repassword, true);
    });

    /**
     *
     * @param password 密码 ,如果没有输入则获取#password的值
     * @param status 是否开启输出模式,开启输出模式后才可以使用info参数否则不需要传值
     * @param info 将验证结果输出到指定类名的标签上
     * @returns {*|boolean} 返回是否通过验证
     */
    function checkPassword(password, status, info) {
        var pwd = "";
        var re = /^[a-zA-Z].{5,17}$/;
        if (password) {
            pwd = password;
        } else {
            pwd = $('#inputPwdChpw').val();
        }
        if (status === true) {
            if (!re.test(pwd)) {
                if (info) {
                    $('.' + info).html('请输入6-18位密码，开头请使用英文字母！').css({
                        'color': 'red',
                        'font-weight': 'bold'
                    });
                } else {
                    $('.pwd').html('请输入6-18位密码，开头请使用英文字母！').css({
                        'color': 'red',
                        'font-weight': 'bold'
                    });
                }

                console.log(1111);
            } else {
                console.log(2222);
                if (info) {
                    $('.' + info).html('密码输入正确!').css({
                        'color': 'green',
                    });
                } else {
                    $('.pwd').html('密码输入正确!').css({
                        'color': 'green',
                    });
                }

            }
        } else {
            return re.test(password);
        }


    }

    function checkPwdSame(pwd, repwd, status) {

        info = checkPassword(repwd, false);
        if (status === true) {
            if (!info) {
                $('.repwd').html('请输入6-18位密码，开头请使用英文字母!').css({
                    'color': 'red',
                    'font-weight': 'bold'
                });
                return false;
            }
            if (pwd === repwd) {
                $('.repwd').html('输入正确').css({
                    'color': 'green',
                });
                return true;
            } else {
                $('.repwd').html('两次密码输入不一致!').css({
                    'color': 'red',
                    'font-weight': 'bold'
                });
                return false;
            }
        } else {
            if (!info) {
                return false;
            }

            if (pwd === repwd) {
                return true;
            } else {
                return false;
            }
        }


    }

    $('.btn-link,.close').click(() => {
        $.ajax({
            url: '/user/admin_list/',
            type: 'get',
            success: (data) => {
                $('.main-content').html(data)
            }
        })
    });
</script>
</html>