<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>添加学习中心</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" href="{% static 'user/css/add_user.css' %}">
</head>
<body>
{#class="modal-dialog"#}
<div role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">添加学习中心</h4>
        </div>
        <div class="modal-body col-sm-12">
            <form class="form-horizontal" id="addForm">
                <div>
                    <div style="display: none" id="error_message">错误信息:</div>
                    <div id="main_data"></div>
                </div>
                <div class="form-group">
                    <label for="inputNameAdd" class="col-sm-3 control-label">名称</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputNameAdd" placeholder="请输入学习中心名称">
                        <div class="alt name"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNumAdd" class="col-sm-3 control-label">编号</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputNumAdd" placeholder="请输入编号">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddressAdd" class="col-sm-3 control-label">地址</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputAddressAdd" placeholder="请输入地址">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">选择省份</label>
                    <div class="col-sm-6 address-select">
                        <select name="prov" class="" id="province">
                            <option value="">请选择省份</option>
                            {% for province in provinces %}
                                <option value="{{ province.id }}">{{ province.province }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">选择学校</label>
                    <div class="col-sm-6 school-select">
                        <select name="school" class="" id="school">
                            <option value="">请选择学校</option>
                            {% for school in schools %}
                                <option value="{{ school.id }}">{{ school.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer col-sm-9 no-border" style="background: white">
            <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" form="addForm" id="submit">提交</button>
        </div>
    </div>
</div>
<div class="clear"></div>
<div id="message" class="message">
    <span>x</span>
    <div id="top_text">提示：</div>
    <h4>添加成功！</h4>
    <div class="add">继续添加</div>
    <div class="list">查看学习中心</div>
</div>
</body>
<script>
    $(document).keyup(function (event) {
        if (event.keyCode == 13) {
            $("#btn").trigger("click");
        }
    });

    $('.list').click(() => {
        $.ajax({
            url: '/server/center/',
            type: 'get',
            success: (data) => {
                $('.main-content').html(data)
            }
        })
    });
    $('.add').click(() => {
        $('.message').css('display', 'none');
        $('[type="text"]').val('');
        $('.alt').text('');
    });

    $('.btn-link,.close,.message span').click(() => {
        $.ajax({
            url: '/server/center/',
            type: 'get',
            success: (data) => {
                $('.modal-dialog').css('display', 'none');
                $('.main-content').html(data)
            }
        })
    });


    $('#submit').click(() => {
        let center_name = $("#inputNameAdd").val();
        let num = $('#inputNumAdd').val();
        let address = $('#inputAddressAdd').val();
        let prov = $('#province option:selected').val();
        let school = $('#school option:selected').val();

            $.ajax({
                url: '/server/add_center/',
                type: 'post',
                data: {
                    'center_name': center_name,
                    'num':num,
                    'address':address,
                    'prov':prov,
                    'school':school,
                },
                success: (data) => {

                    if (data['status'] === 'success') {
                        $('.message').css('display', 'block');
                    } else if (data['status'] === 'fail') {
                        var tag = data.tagid;
                        $('.' + tag).html(data.message).css('color', 'red');

                    }
                }
            })
    });


</script>
</html>



