<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>上传附件</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" href="{% static 'user/css/add_user.css' %}">
</head>
<body>
{#class="modal-dialog"#}
<div role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">上传附件</h4>
        </div>
        <div class="modal-body col-sm-12">
            <form class="form-horizontal" id="addForm">
                <div>
                    <div style="display: none" id="error_message">错误信息:</div>
                    <div id="main_data"></div>
                </div>
                <div class="form-group">
                    <label for="inputNameAdd" class="col-sm-3 control-label">附件名称</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputNameAdd" placeholder="请输入附件名">
                        <div class="alt name"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFileNameAdd" class="col-sm-3 control-label">文件上传</label>
                    <div class="col-sm-6">
                            <input type="file" class="file-panel" id="inputFileNameAdd" multiple>
                            <div class="alt upload"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer col-sm-9 no-border" style="background: white">
            <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" form="addForm" id="submit">提交</button>
        </div>
    </div>
</div>
<div class="clear"></div>
<div id="message" class="message">
    <span>x</span>
    <div id="top_text">提示：</div>
    <h4>上传成功！</h4>
    <div class="add">继续上传</div>
    <div class="list">查看附件表</div>
</div>
</body>
<script>
    $(document).keyup(function (event) {
        if (event.keyCode == 13) {
            $("#btn").trigger("click");
        }
    });

    $('.list').click(() => {
        $.ajax({
            url: '/server/get_enclosure/',
            type: 'get',
            success: (data) => {
                $('.main-content').html(data)
            }
        })
    });
    $('.add').click(() => {
        $('.message').css('display', 'none');
        $('[type="text"]').val('');
        $('.alt').text('');
    });

    $('.btn-link,.close,.message span').click(() => {
        $.ajax({
            url: '/server/get_enclosure/',
            type: 'get',
            success: (data) => {
                $('.modal-dialog').css('display', 'none');
                $('.main-content').html(data)
            }
        })
    });


    $('#submit').click(() => {
        let name = $("#inputNameAdd").val();

        formdata = new FormData();
        formdata.append('file_name',$('#inputFileNameAdd')[0].files[0]);
        formdata.append('name',name);
            $.ajax({
                processData: false,
                contentType: false,
                url: '/server/add_enclo/',
                type: 'post',
                data: formdata,
                success: (data) => {

                    if (data['status'] === 'success') {
                        $('.message').css('display', 'block');
                    } else if (data['status'] === 'fail') {
                        var tag = data.tagid;
                        $('.' + tag).html(data.message).css('color', 'red');

                    }
                }
            })
    });


</script>
</html>



