<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>上传模拟题</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" href="{% static 'user/css/add_user.css' %}">
</head>
<body>
{#class="modal-dialog"#}
<div role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">上传模拟题</h4>
        </div>
        <div class="modal-body col-sm-12">
            <form class="form-horizontal" id="addForm">
                <div>
                    <div style="display: none" id="error_message">错误信息:</div>
                    <div id="main_data"></div>
                </div>
                <div class="form-group">
                    <label for="inputNameAdd" class="col-sm-3 control-label">模拟题名称</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputNameAdd" placeholder="请输入模拟题名称">
                        <div class="alt name"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSchoolAdd" class="col-sm-3 control-label">选择院校</label>
                    <div class="col-sm-6">
                        <select name="school" id="inputSchoolAdd" class="form-control">
                            <option value="" class="chos">请选择院校</option>
                            {% for sch in school %}
                                <option value="{{ sch.id }}">{{ sch.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="alt school"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputMajorAdd" class="col-sm-3 control-label">选择专业</label>
                    <div class="col-sm-6">
                        <select name="school" id="inputMajorAdd" class="form-control">
                            <option value="" class="chos">请选择专业</option>

                        </select>
                        <div class="alt major"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLevelAdd" class="col-sm-3 control-label">所属层次</label>
                    <div class="col-sm-6">
                        <select name="school" id="inputLevelAdd" class="form-control">
                            <option value="" class="chos">请选择层次</option>
                        </select>
                        <div class="alt level"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFileNameAdd" class="col-sm-3 control-label">文件上传</label>
                    <div class="col-sm-6">
                        <input type="file" class="file-panel" id="inputFileNameAdd" multiple>
                        <div>请选择.doc,.docx,.wps后缀的文件</div>
                        <div class="alt upload"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer col-sm-9 no-border" style="background: white">
            <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" form="addForm" id="submit">提交</button>
        </div>
    </div>
</div>
<div class="clear"></div>
<div id="message" class="message">
    <span>x</span>
    <div id="top_text">提示：</div>
    <h4>上传成功！</h4>
    <div class="add">继续上传</div>
    <div class="list">查看附件表</div>
</div>
</body>
<script>
    $(document).keyup(function (event) {
        if (event.keyCode == 13) {
            $("#btn").trigger("click");
        }
    });

    $('.list').click(() => {
        $.ajax({
            url: '/server/get_file/',
            type: 'get',
            success: (data) => {
                $('.main-content').html(data)
            }
        })
    });
    $('.add').click(() => {
        $('.message').css('display', 'none');
        $('[type="text"]').val('');
        $('.alt').text('');
    });

    $('.btn-link,.close,.message span').click(() => {
        $.ajax({
            url: '/server/get_file/',
            type: 'get',
            success: (data) => {
                $('.modal-dialog').css('display', 'none');
                $('.main-content').html(data)
            }
        })
    });


    $('#submit').click(() => {
        $('.alt').html('');
        let name = $("#inputNameAdd").val();
        let school = $('#inputSchoolAdd option:selected').val(); //所属院校
        let major = $('#inputMajorAdd option:selected').val(); //所属专业
        let level = $('#inputLevelAdd option:selected').val();// 层次
        formdata = new FormData();
        formdata.append('file_name', $('#inputFileNameAdd')[0].files[0]);
        formdata.append('name', name);
        formdata.append('school', school);
        formdata.append('major', major);
        formdata.append('level', level);
        $.ajax({
            processData: false,
            contentType: false,
            url: '/server/add_quest/',
            type: 'post',
            data: formdata,
            success: (data) => {

                if (data['status'] === 'success') {
                    $('.message').css('display', 'block');
                } else if (data['status'] === 'fail') {
                    var tag = data.tagid;
                    $('.' + tag).html(data.message).css('color', 'red');

                }
            }
        })
    });

    $("#inputSchoolAdd").change(function () {
        $("#inputLevelAdd").html("<option>请选择层次</option>");
        var school_code = $('#inputSchoolAdd').val();
        if (school_code != "") {
            $.ajax({
                url: "/service/getmajorlist/",
                data: {
                    school_code: school_code,
                },
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    //alert(data);
                    var major = $("#inputMajorAdd");
                    major.empty().append('<option value=""> 请先选择专业 </option>');
                    $.each(data.data, function (index, item) {
                        major.append('<option value=' + item[0] + '>' + item[1] + '</option>')
                    })
                }
            });
        }
    });
    $("#inputMajorAdd").change(function () {
        var major_id_oes = $('#inputMajorAdd').val();
        if (major_id_oes != "") {
            var school_code = $('#inputSchoolAdd').val();
            $.ajax({
                url: "/service/getlevellist/",
                data: {
                    school_code: school_code,
                    major_id_oes: major_id_oes,
                },
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    //alert(data);
                    var level = $("#inputLevelAdd");
                    level.empty().append('<option value=""> 请选择层次 </option>');
                    $.each(data.data, function (index, item) {
                        level.append('<option value=' + item[0] + '>' + item[1] + '</option>')
                    })
                }
            });
        }
    })
</script>
</html>



