{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    <title>学生平台使用帮助_舟炬教育</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'home/fonts/unicode.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/news-79bb0f008d.css' %}">
{% endblock %}

{% block nav_active %}
        <ul class="search-snav-list">
            <li>
                <a title="首页" href="{% url 'home' %}">首页</a>
            </li>
            <li class="search-main-menu search-menu-item">
                <a title="选专业" href="{% url 'choose_major:choose_major' %}">选专业</a>
            </li>
            <li>
                <a title="选院校" href="{% url 'choose_school:school' %}"> 选院校 </a>
            </li>
            <li>
                <a title="学员风采" href="{% url 'news:news' %}"> 学员风采 </a>
            </li>
            <li>
                <a title="服务大厅" href="{% url 'service:service' %}" class="a_active"> 服务大厅 </a>
            </li>
        </ul>
{% endblock %}

{% block content %}

    <div class="navbar-common">
        <div class="aside clear">
            <p class="flt">
                <a href="http://www.zhoujuedu.com/">首页</a>
                <span>
                    <i>&gt;</i>
                    <a href="http://www.zhoujuedu.com/service/index.html">服务大厅</a>
                    <i>&gt;</i>
                    <a href="http://www.zhoujuedu.com/help/110.html">常见申请表格下载</a>
                </span>
            </p>
        </div>
    </div>



    <div style="padding-top: 11px;">
        <div class="college-accredit-box study-center-box clear">
            <!--左边的菜单-->
            <div class="service-left-nav">
                <dl>
                    <dt>
                        <span class="icon iconfont icon-catalogue"></span> 学历业务服务流程
                    </dt>
                    <dd>
                        <p>
                            <a href="{% url 'service:sign' %}" data-type="108" class="108"> 网络报名招生 </a>
                        </p>
                        <p>
                            <a href="{% url 'service:new_exam' %}" data-type="109" class="109"> 新生入学 </a>
                        </p>
                        <p>
                            <a href="{% url 'service:help' %}" data-type="110" class="110"> 学习平台使用帮助 </a>
                        </p>
                        <p>
                            <a href="{% url 'service:exam' %}" data-type="111" class="111"> 专业考试 </a>
                        </p>
                        <p>
                            <a href="{% url 'service:graduation' %}" data-type="104" class="104"> 毕业问答 </a>
                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <span class="icon iconfont icon-search"></span> 权威查询
                    </dt>
                    <dd>
                        <p>
                            <a href="{% url 'service:feecard' %}" data-type="feecard" class="feecard"> 报名凭证查询 </a>
                        </p>
                        <p>
                            <a href="{% url 'service:center' %}"> 学习中心查询 </a>
                        </p>
                        <p>
                            <a href="{% url 'service:collegeautho' %}"> 高校授权查询 </a>
                        </p>
                        <p>
                            <a href="https://my.chsi.com.cn/archive/index-8a6ada30fc.jsp" target="_blank"> 学信网学籍查询 </a>
                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <span class="icon iconfont icon-downLoad"></span> 常见下载
                    </dt>
                    <dd>
                        <p>
                            <a href="{% url 'service:examdownload' %}" data-type="examdownload" class="examdownload"> 模拟题下载 </a>
                        </p>
                        <p>
                            <a href="{% url 'service:courseware' %}" data-type="105" class="105"> 课件播放器下载 </a>
                        </p>
                        <p>
                            <a href="{% url 'service:sch_form' %}" data-type="106" class="106"> 高校常见表格下载 </a>
                        </p>
                        <p>
                            <a href="{% url 'service:application' %}" data-type="4" class="4 active"> 常见申请表格下载 </a>
                        </p>
                    </dd>
                </dl>
            </div>
            <!--左边的菜单结束了-->
            
            <!--文章列表和分页-->
            <div class="center-content">
                <!--文章列表-->
                <div class="news-box">
                    {% for post in data %}
                        <dl>
                            <dt>
                                <h4>
                                    <a href="{% url 'service:post_detail' post.pk %}" target="_blank"
                                       title="{{ post.post_title }}">{{ post.post_title }}</a>
                                </h4>
                                <a href="{% url 'service:post_detail' post.pk %}" target="_blank"
                                   title="{{ post.post_title }}">
                                </a>
                            </dt>
                            <a href="{% url 'service:post_detail' post.pk %}" target="_blank"
                               title="{{ post.post_title }}">
                                <dd>
                                    <p>{{ post.post_content|striptags|truncatechars:100|safe }}</p>
                                    <div class="mores">
                                        <span>来源：{{ post.source }}</span>
                                        <span> 时间：{{ post.edit_time|date:'Y-m-d' }} </span> 关键词：{{ post.keywords }}
                                    </div>
                                </dd>
                            </a>
                        </dl>
                    {% empty %}
                        <p style="text-align: center;margin: 15px;font-size: 13px">暂无文章</p>
                    {% endfor %}

                </div>
                <!--文章列表结束-->


                <div class="pagination">
                    <span> 共{{ paginator.num_pages }}页 </span>
                    {% if data.has_previous %}
                        <a href="?page={{ data.previous_page_number }}"> 上一页 </a>
                    {% else %}
                        <span class="disabled"> 上一页 </span>
                    {% endif %}
                    {% for num in page_range %}
                        {% if num == currentPage %}
                            <a class="active" href="?page={{ num }}"> {{ num }} </a>
                        {% else %}
                            {% if num == '...' %}
                                <a> {{ num }} </a>
                            {% else %}
                                <a href="?page={{ num }}"> {{ num }} </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if data.has_next %}
                        <a href="?page={{ data.next_page_number }}"> 下一页 </a>
                    {% else %}
                        <span class="disabled"> 下一页 </span>
                    {% endif %}

                    <input type="text" class="aw_page_input" data-max="{{ paginator.num_pages }}" pattern="[0-9]*" title="必须是纯数字">
                    <span class="goPage" data-url="?"> Go </span>
                </div>
            </div>
            <!--文章列表和分页结束了-->



            <div class="hot-article">
                <div class="hotBox">
                    <h3>热门文章</h3>
                    <ul class="article-list">
                        {% for hot_post in hot_posts %}
                            <li>
                                <a href="{% url 'service:post_detail' hot_post.pk %}" target="_blank"
                                   title="{{ hot_post.post_title }}">{{ hot_post.post_title }}
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="hotBox mar20">
                    <h3>热门院校</h3>
                    <div id="timeLine">
                        <div id="cList">
                            <div style="width: 250px;margin: 0 auto; overflow: hidden; text-align: center; ">
                                <ul id="cUl" class="hot_school slides"> 
                                    {% for hot_school in hot_schools %}
                                        <li>
                                            <div class="container-li">
                                                <a href="{% url 'choose_school:school_detail' hot_school.id %}" target="_blank">
                                                    <img class="lazy-two" src="{{ hot_school.emblem }}"
                                                         style="height: 111px;" alt="{{ hot_school.name }}">
                                                </a>
                                                <p>
                                                    <strong>{{ hot_school.name }}</strong>
                                                    {% if hot_school.is_double %}
                                                        <span>双一流</span>
                                                    {% endif %}
                                                    {% if hot_school.is_211 %}
                                                        <span>211</span>
                                                    {% endif %}
                                                    {% if hot_school.is_985 %}
                                                        <span>985</span>
                                                    {% endif %}

                                                </p>
                                                <a class="btn" href="/school/10200.html" target="_blank">立即报名</a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>     
                        </div>              
                    </div>
                </div>


                <div class="hotBox mar20 hotSubject">
                    <h3>热招专业</h3>
                    <div class="aw_hot_product">
                        {% for hot_major in hot_majors %}
                            <dl>
                                <a href="{% url 'choose_major:major_detail' hot_major.pk hot_major.school_id %}" target="_blank" title="{{ hot_major.major_name }}">
                                    <dt>
                                        <img class="lazy-one" data-original="{{ hot_major.major_image }}"
                                             src="{{ hot_major.major_image }}" alt="{{ hot_major.major_name }}" width="102" height="76"
                                             style="display: inline;">
                                    </dt>
                                    <dd><strong>{{ hot_major.major_name }}</strong>
                                        <i class="iconfont"></i>{{ hot_major.school.name }}<br>
                                        <i class="iconfont"></i>{{ hot_major.get_level_display }}
                                    </dd>
                                </a>
                            </dl>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script type="text/javascript">
    	
    	var cityId = 110100;
    	var is_first_index = 0;
    	var LogChannelID = "test"; //LogChannelID是频道ID，
    	
    </script>


    <script type="text/javascript" src="{% static 'home/js/vendor.js' %}"></script>

    <script type="text/javascript">
    	  $(function () {
    		    var service_url = window.location.href;
    		    //var type_url = $(this).attr('data-type');
    		    $('.service-left-nav a').each(function () {
    		      var type_url = $(this).attr('data-type');
    		      var service_arr = service_url.split('/');
    		      var service_function = service_arr[4].split('.');
    		      if(type_url == service_function[0]){
    		        $('.service-left-nav a').removeClass('active');
    		        $('.'+type_url).addClass('active');
    		      }
    		    });
    	  });
    </script>

    <script type="text/javascript" src="{% static 'home/js/help-762de0cebf.js' %}"></script>

{% endblock %}