{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    <title>{{ post.post_title }}</title>
    <meta name="keywords" content="{{ post.keywords }}">
    <meta name="description" content="{{ post.post_content|striptags|truncatechars:15 }}">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'home/fonts/unicode.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/newsMore-dfb672aac2.css' %}">
{% endblock %}

{% block nav_active %}
        <ul class="search-snav-list">
            <li>
                <a title="首页" href="{% url 'home' %}">首页</a>
            </li>
            <li class="search-main-menu search-menu-item">
                <a title="选专业" href="{% url 'choose_major:choose_major' %}">选专业</a>
            </li>
            <li>
                <a title="选院校" href="{% url 'choose_school:school' %}"> 选院校 </a>
            </li>
            <li>
                <a title="学员风采" href="{% url 'news:news' %}"> 学员风采 </a>
            </li>
            <li>
                <a title="服务大厅" href="{% url 'service:service' %}" class="a_active"> 服务大厅 </a>
            </li>
        </ul>
{% endblock %}

{% block content %}

    <div class="navbar-common">
        <div class="aside clear">
            <p class="flt">
                <a href="http://www.zhoujuedu.com/">首页</a>
                <span>
                    <i>&gt;</i>
                    <a href="http://www.zhoujuedu.com/Service.html">服务大厅</a>
                    <i>&gt;</i>
                    <span>正文</span>
                </span>
            </p>
        </div>
    </div>


    <div style="background-color:#f8f8f8;padding-top: 11px;padding-bottom: 30px;">
        <div class="college-accredit-box clear">
            <div class="center-content">
                <div class="new-more">
                    <div class="new-title">
                        <h2>{{ post.post_title }}</h2>
                        <span><i class="icon iconfont icon-eye"></i> {{ post.views }}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon iconfont icon-time-wise"></i> {{ post.edit_time|date:'Y-m-d' }}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{ post.source }}</span>
                    </div>
                    <div class="server-content">
                        {{ post.post_content|safe }}
                    </div>
                    <div class="tag">
                        <samp class="fl">标签： <span class="pink">{{ post.keywords }}</span></samp>
                        <samp class="fr">来源：{{ post.source }}</samp>
                    </div>
                    <div class="link-more">
                        <p>
                            {% if pre_post != None %}
                                <span>上一篇：</span>
                                <a href="{% url 'service:post_detail' pre_post.pk %}" title="{{ pre_post.post_title }}"> {{ pre_post.post_title }} </a>
                            {% else %}
                                <span>上一篇：暂无文章</span>
                            {% endif %}

                        </p>
                        <p>
                            {% if next_post != None %}
                                <span>上一篇：</span>
                                <a href="{% url 'service:post_detail' next_post.pk %}" title="{{ next_post.post_title }}"> {{ next_post.post_title }} </a>
                            {% else %}
                                <span>上一篇：暂无文章</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>


            <div class="hot-article">
                <div class="hotBox">
                    <h3>热门文章</h3>
                    <ul class="article-list">
                        <li>
                            <a href="http://www.zhoujuedu.com/help/show-3022.html" target="_blank">学生平台毕业管理功能操作说明</a>
                        </li><li>
                            <a href="http://www.zhoujuedu.com/help/show-3083.html" target="_blank">网络教育多久可以拿到毕业证书和学位证书？</a>
                        </li><li>
                            <a href="http://www.zhoujuedu.com/help/show-3028.html" target="_blank">各高校课件播放器下载</a>
                        </li><li>
                            <a href="http://www.zhoujuedu.com/help/show-3061.html" target="_blank">舟炬远程教育中心各类申请表格</a>
                        </li><li>
                            <a href="http://www.zhoujuedu.com/help/show-3079.html" target="_blank"> 毕业证书和学位证书是什么样子的？</a>
                        </li><li>
                            <a href="http://www.zhoujuedu.com/help/show-3073.html" target="_blank">舟炬教育报名形式和方法？怎么学习？</a>
                        </li><li>
                            <a href="http://www.zhoujuedu.com/help/show-6322.html" target="_blank">用先进理念唱响“教育” ——记广东省成人教育先进工作者陈汉楚</a>
                        </li><li>
                            <a href="http://www.zhoujuedu.com/help/show-6320.html" target="_blank">不负韶华，书写最美的篇章</a>
                        </li><li>
                            <a href="http://www.zhoujuedu.com/help/show-6324.html" target="_blank">青春不散场 梦想不分离</a>
                        </li><li>
                            <a href="http://www.zhoujuedu.com/help/show-6398.html" target="_blank">舟炬教育：成就学员的梦想是企业最大的荣耀!</a>
                        </li>                    
                    </ul>
                </div>


                <div class="hotBox mar20">
                    <h3>热门院校</h3>
                    <div id="timeLine">
                        <div id="cList">
                            <div style="width: 250px;margin: 0 auto; overflow: hidden; text-align: center; ">
                                <ul id="cUl" class="hot_school slides"> 
                                    <li>
                                        <div class="container-li"> 
                                            <a href="/school/10200.html" target="_blank">
                                                <img class="lazy-two" src="assets/images/10200.png" style="height: 111px;" alt="东北师范大学">
                                            </a>            
                                            <p> 
                                                <strong>东北师范大学</strong><span>双一流</span>
                                                <span>211</span>          
                                            </p> 
                                            <a class="btn" href="/school/10200.html" target="_blank">立即报名</a>        
                                        </div>    
                                    </li>
                                    <li>        
                                        <div class="container-li"> 
                                            <a href="/school/10141.html" target="_blank"><img class="lazy-two" src="assets/images/10141.png" style="height: 111px;" alt="大连理工大学"></a>            
                                            <p> 
                                                <strong>大连理工大学</strong><span>双一流</span>
                                                <span>985</span>
                                                <span>211</span>            
                                            </p> 
                                            <a class="btn" href="/school/10141.html" target="_blank">立即报名</a>        
                                        </div>    
                                    </li>

                                    <li>        
                                        <div class="container-li"> 
                                            <a href="/school/10055.html" target="_blank">
                                                <img class="lazy-two" src="assets/images/10055.png" style="height: 111px;" alt="南开大学">
                                            </a>            
                                            <p> 
                                                <strong>南开大学</strong>
                                                <span>双一流</span>
                                                <span>985</span>
                                                <span>211</span>
                                            <p> 
                                                <a class="btn" href="/school/10055.html" target="_blank">立即报名</a>        
                                         </div>    
                                    </li>

                                    <li> 
                                        <div class="container-li"> 
                                            <a href="/school/10145.html" target="_blank">
                                                <img class="lazy-two" src="assets/images/10145.png" style="height: 111px;" alt="东北大学">
                                            </a>            
                                            <p> 
                                                <strong>东北大学</strong>  
                                                <span>双一流</span>
                                                <span>985</span>
                                                <span>211</span>           
                                            </p> 
                                            <a class="btn" href="/school/10145.html" target="_blank">立即报名
                                            </a>        
                                        </div>    
                                    </li>

                                    <li>        
                                        <div class="container-li"> 
                                            <a href="/school/10183.html" target="_blank">
                                                <img class="lazy-two" src="assets/images/10183.png" style="height: 111px;" alt="吉林大学">
                                            </a>            
                                            <p>
                                                <strong>吉林大学</strong>
                                                <span>双一流</span>
                                                <span>985</span>
                                                <span>211</span>         
                                            </p> 
                                            <a class="btn" href="/school/10183.html" target="_blank">立即报名</a>        
                                        </div>    
                                    </li>

                                    <li>        
                                        <div class="container-li"> 
                                            <a href="/school/10635.html" target="_blank">
                                                <img class="lazy-two" src="assets/images/10635.png" style="height: 111px;" alt="西南大学">
                                            </a>           
                                            <p> 
                                                <strong>西南大学</strong>
                                                <span>双一流</span>
                                                <span>211</span>       
                                            </p> 
                                            <a class="btn" href="/school/10635.html" target="_blank">立即报名</a>        
                                        </div>    
                                    </li>

                                    <li>        
                                        <div class="container-li"> 
                                            <a href="/school/10698.html" target="_blank">
                                                <img class="lazy-two" src="assets/images/10698.png" style="height: 111px;" alt="西安交通大学">
                                            </a>            
                                            <p> 
                                                <strong>西安交通大学</strong>
                                                <span>双一流</span>
                                                <span>985</span>
                                                <span>211</span>          
                                            </p> 
                                            <a class="btn" href="/school/10698.html" target="_blank">立即报名</a>        
                                        </div>    
                                    </li>

                                    <li>        
                                        <div class="container-li"> 
                                            <a href="/school/10002.html" target="_blank">
                                                <img class="lazy-two" src="assets/images/10002.png" style="height: 111px;" alt="中国人民大学">
                                            </a>            
                                            <p> 
                                                <strong>中国人民大学</strong><span>双一流</span>
                                                <span>985</span>
                                                <span>211</span>       
                                            </p> 
                                            <a class="btn" href="/school/10002.html" target="_blank">立即报名</a>        
                                        </div>    
                                    </li>

                                    <li>        
                                        <div class="container-li"> 
                                            <a href="/school/10007.html" target="_blank">
                                                <img class="lazy-two" src="assets/images/10007.png" style="height: 111px;" alt="北京理工大学">
                                            </a>            
                                            <p> 
                                                <strong>北京理工大学</strong>
                                                <span>双一流</span>
                                                <span>985</span>
                                                <span>211</span>
                                            </p> 
                                            <a class="btn" href="/school/10007.html" target="_blank">立即报名</a>        
                                        </div>    
                                    </li>

                                    <li>        
                                        <div class="container-li"> 
                                            <a href="/school/10027.html" target="_blank">
                                                <img class="lazy-two" src="assets/images/10027.png" style="height: 111px;" alt="北京师范大学">
                                            </a>            
                                            <p> 
                                                <strong>北京师范大学</strong>
                                                <span>双一流</span>
                                                <span>985</span>
                                                <span>211</span>
                                            </p> 
                                            <a class="btn" href="/school/10027.html" target="_blank">立即报名</a>        
                                        </div>    
                                    </li>


                                    <li>        
                                        <div class="container-li"> 
                                            <a href="/school/10004.html" target="_blank">
                                                <img class="lazy-two" src="assets/images/10004.png" style="height: 111px;" alt="北京交通大学">
                                            </a>            
                                            <p> 
                                                <strong>北京交通大学</strong><span>双一流</span>
                                                <span>211</span>       
                                            </p> 
                                            <a class="btn" href="/school/10004.html" target="_blank">立即报名</a>        
                                        </div>    
                                    </li>

                                    <li>        
                                        <div class="container-li"> 
                                            <a href="/school/10013.html" target="_blank">
                                                <img class="lazy-two" src="assets/images/10013.png" style="height: 111px;" alt="北京邮电大学">
                                            </a>            
                                            <p> 
                                                <strong>北京邮电大学</strong>
                                                <span>双一流</span>
                                                <span>211</span>
                                            </p> 
                                            <a class="btn" href="/school/10013.html" target="_blank">立即报名</a>        
                                        </div>    
                                    </li>
                                </ul>
                            </div>     
                        </div>  
                    </div>
                </div>




                <div class="hotBox mar20 hotSubject">
                    <h3>热招专业</h3>
                    <div class="aw_hot_product">
                        <dl>
                            <a href="http://www.zhoujuedu.com/major/18140.html" target="_blank" title="护理学">
                                <dt>
                                    <img class="lazy-one" data-original="assets/images/16721.jpg" src="assets/images/16721.jpg" alt="护理学" width="102" height="76" style="display: inline;">
                                </dt>
                                <dd><strong>护理学</strong>
                                    <i class="iconfont"></i>中国医科大学<br>
                                    <i class="iconfont"></i>专升本 </dd>
                            </a>
                        </dl>

                        <dl>
                            <a href="http://www.zhoujuedu.com/major/33946.html" target="_blank" title="汉语言文学">
                                <dt>
                                    <img class="lazy-one" data-original="assets/images/17081.jpg" src="assets/images/17081.jpg" alt="汉语言文学" width="102" height="76" style="display: inline;">
                                </dt>
                                <dd><strong>汉语言文学</strong>
                                    <i class="iconfont"></i>东北师范大学<br>
                                    <i class="iconfont"></i>专升本 </dd>
                            </a>
                        </dl>
                        <dl>
                            <a href="http://www.zhoujuedu.com/major/19414.html" target="_blank" title="土木工程">
                                <dt>
                                    <img class="lazy-one" data-original="assets/images/16555.jpg" src="assets/images/16555.jpg" alt="土木工程" width="102" height="76" style="display: inline;">
                                </dt>
                                <dd><strong>土木工程</strong>
                                    <i class="iconfont"></i>大连理工大学<br>
                                    <i class="iconfont"></i>专升本 </dd>
                            </a>
                        </dl>

                        <dl>
                            <a href="http://www.zhoujuedu.com/major/33947.html" target="_blank" title="学前教育">
                                <dt>
                                    <img class="lazy-one" data-original="assets/images/16465.jpg" src="assets/images/16465.jpg" alt="学前教育" width="102" height="76" style="display: inline;">
                                </dt>
                                <dd><strong>学前教育</strong>
                                    <i class="iconfont"></i>东北师范大学<br>
                                    <i class="iconfont"></i>高起专 </dd>
                            </a>
                        </dl>

                        <dl>
                            <a href="http://www.zhoujuedu.com/major/30344.html" target="_blank" title="会计学">
                                <dt>
                                    <img class="lazy-one" data-original="assets/images/17054.jpg" src="assets/images/17054.jpg" alt="会计学" width="102" height="76" style="display: inline;">
                                </dt>
                                <dd><strong>会计学</strong>
                                    <i class="iconfont"></i>东北财经大学<br>
                                    <i class="iconfont"></i>专升本 </dd>
                            </a>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
	
    	var cityId = 110100;
    	var is_first_index = 0;
    	var LogChannelID = "test"; //LogChannelID是频道ID，
	
    </script>
    <script type="text/javascript" src="{% static 'home/js/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/helpDetail-c967f325a9.js' %}"></script>

{% endblock %}